.edcwid{

margin-top: -10px;

}
.by 
{

    margin-top: -20px;


}
.primer_div 
{
display: flex;
margin-top: -10px;

}
.imagen1 
{
margin-top: -5px;
height: 45px;
}
.segundo_div 
{
    margin-top: 10px;
}
.div4
{
    margin-right: 20px;
}
.sell 
{
margin-left: 70px;
margin-top: -1px;
margin-top: 2px;

}
.Market
{
margin-left: 70px;
margin-top: -1px;
margin-top: 2px;

}
.Manage
{
    margin-left: 70px;
    margin-top: -1px;
    margin-top: 2px;
}
.Leam 
{
    margin-left: 300px;
    margin-top: -1px;
    margin-top: 2px; 
}
.partners
{
    margin-left: 55px;
    margin-top: -1px;
    margin-top: 2px;
}
.princing
{
    margin-left: 60px;
    margin-top: -1px;
    margin-top: 2px;
}
.Login 
{
    margin-left: 60px;
    margin-top: -1px;
    margin-top: 2px;   
}
.Get 
{
    margin-left: 60px;
    margin-top: -1px;
    margin-top: 2px;  

}
.boton
{
background-color: rgb(19, 19, 20);
color:aliceblue;
}
.titulogrande 
{
text-align: center;
font-size: 30px;

}
.parrafos 
{
text-align: center;

}
.botonn 
{
  
    color: rgb(6, 7, 7);
    background-color: rgb(0, 255, 0);
    width: 250px;
    height: 60px;
    border-radius: 8px;
    
}
.elboton 
{
text-align: center;
color: darkgreen;
}
.no_credit 
{
    text-align: center;
}
.imagen2 
{
 width:500px;
}
.imagen22 
{
    text-align: center;
}